body {
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 300;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.margin-left-10 {
    margin-left: 10px;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

hr {
    height: 5px;
    background-color: #bcbbbb;
}

.text-link {
    font-size: 18px;
    font-weight: 100;
    color: rgb(103, 104, 88);
}

@media screen and (max-width: 991px) {
    .title {
        text-align: center;
        width: 100%;
    }
    img {
        position: relative;
        margin: auto;
    }
}
